.feedBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    margin-top: 10px;
}

.feedBox:hover {
    border: 1px solid rgb(175, 175, 175);
}

.feedBox__info{
    display: flex;
    align-items: center;
}

.feedBox__info > h5 {
    color: rgb(129, 129, 129);
    font-weight: 300;
    margin-left: 10px;
}

.feedBox__feed {
    display: flex;
    margin-top: 8px;
}

.feedBox__feed > p {
    color: gray;
    font-weight: bold;
    font-size: large;
}