/*
.FilterPopup .Select{
    position: relative;
    width: 500px;
    margin: 0px 0px 0px 100px;
    max-height: 30px;
    
}
.FilterPopup .title{
    text-align: center;
    height: 70px;
    text-align: center;
    margin: 0px 0px 15px 0px;
    padding: 15px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(214, 214, 214);

    
}
.FilterPopup{
    border: 1px solid rgb(202, 202, 202);
    margin: 0px 0px 0px 0px;
}

.FilterPopup .SelectContainer {
    width: 900px;

}
*/
